.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
  font-family: var(--font-mono);
  min-height: 100vh;
}

.topBar {
  width: 100%;
  height: 2px;
  background: var(--uiBorderRed);
  position: relative;
  z-index: 1;
  box-shadow: 0 1px 14px 1pxcolor-mix(in srgb, var(--uiBorderRed) 80%, transparent);
}

.activePage {
  color: var(--colorLightBlue);
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--backgroundDark);
  text-transform: uppercase;
  z-index: 10;
  padding: 0 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}

.bottomContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.topNav {
  color: var(--colorLightBlue);
}
