.timeContainer {
  display: flex;
  align-items: center;
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: var(--backgroundRed);
  border: 1px solid var(--uiBorderRedDark);
  border-radius: var(--border-radius-xs);
  color: var(--colorBlueLight);
}
